/* Budget style */
.budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 3vh;
}

/* Budget manipulation section style */

.budget-manipulation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
  padding-bottom: 3vh;
  margin: 3vh;
}

#budget-reset-button {
  display: none;
}

.budget-manipulation > form {
  margin: 1vw;
}

.budget-manipulation > form > input {
  margin: 0 0.5vw;
}

.add-expense-title {
  margin-right: 10px;
}

/* General  */

.expense-title {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
}
.number {
  width: 10vw;
  height: 2vh;
  text-align: center;
  font: 20px bold;
}

.button {
  width: 10vw;
  height: 2.5vh;
  text-align: center;
  font: 20px bold;
}

/* Add expense style */
.add-expense {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
  padding-bottom: 3vh;
  margin: 3vh;
}

.add-expense > form > input {
  margin: 1vw;
}

/* History table style  */

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
  padding-bottom: 3vh;
  margin: 3vh;
}

.table {
  width: auto;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid #000;
}

thead > tr > th {
  font-size: 30px;
  padding: 0 5vw;
  font-weight: bold;
}

tbody > tr > td,
th {
  font-size: 20px;
  padding: 0 5vw;
  font-weight: normal;
}

tr {
  border-bottom: 1px solid #000;
}
